In [33]:
a = 10
b = 20
print("the sum of both the numbers are:",a+b)

the sum of both the numbers are: 30

In [36]:
num1 = int(input("Enter the first number:\n"))
num2 = int(input("Enter the second number:\n"))
print("The sum of both the numbers are:\n",num1+num2)

The sum of both the numbers are:
 30

In [2]:
var1 = 56
var2 = 80

var3 = int(input())
if var3>var2:
    print("Greater")
else:
    print("Lesser")

Lesser

In [3]:
a = input("Enter your number")

In [1]:
a = 10
print(a,type(a))

10 <class 'int'>

In [2]:
print("welcome to digipodium")

welcome to digipodium

In [1]:
# operators

# operators

In [2]:
x = 10
y = 3

In [3]:
a = ['vyom','digipodium']
print(type(a))

<class 'list'>

In [4]:
x = 10
y = 20
x+y #addition

30

In [5]:
x = 10
y = 20
x*y #multiplication

200

In [6]:
x = 10
y = 5
x-y #subtraction

5

In [7]:
x = 10
y = 5
x/y #division

2.0

In [8]:
x = 10
y = 3
x%y #modulus

1

In [9]:
x = 10
y = 5
x**y #exponential

100000

In [10]:
x = 10
y = 5
x//y #integer division

2

In [14]:
x = 10
x+=5
print(x)

15

In [15]:
z = 10
x = 10
x+z

20

In [16]:
x>10
y<3

False

In [17]:
'apple'=='Apple'

False

In [20]:
x>5&x<100

True

In [22]:
x>5 or x<100

True

In [25]:
not x>100

True

In [26]:
x is y

False

In [27]:
x is not y #instance operators are used in data structures

True

In [30]:
#membership operators
a = ['1','2','3','4','5']
'2' in a #in is a membership operator in the list

True

# formated strings&msg

** formated string form
l = 10.5
b = 6.10
area = l*b
#print("length into breadth is=",area)
#print(l,b,area)
print("{}*{} = {}".format(l,b,area)) #this is called formated string

**another method for formated string

In [36]:
print(f' {l}*{b} = area')

 10.5*6.1 = area

In [39]:
print(f' {l}*{b} = {area}')

 10.5*6.1 = 64.05

In [41]:
print(f'{l}*{b}={area:.2f}')

10.5*6.1=64.05