In [2]:
list1 = ["vyom","aman","rahul","devansh","rishabh"]
print(type(list1))

<class 'list'>

In [4]:
list3 = ['ravi',1,2,3,4]

In [6]:
list4 = [[1,2,3],[3,4,5],["vyom","zaid sir"]]
print(type(list4))

<class 'list'>

In [9]:
print(list1.index("aman"))

1

In [12]:
print(list1.pop())

rishabh

In [14]:
x = [] # empty list
print(type(x))

<class 'list'>

In [15]:
y = [1]*10 #duplicated
print(y)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [17]:
z = [1,2,3] * 10
print(z)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
y = [1,2] + [2,3,4]
print(y)

[1, 2, 2, 3, 4]

In [19]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
ab = list(range(1,101))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [27]:
ab = list(range(2,101,2))
print(ab)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# string has 11 methods they are
- append
- deleting 
- insert
* deletion
- remove
- pop
- clear
* utility
- count
- index
- copy
- sort
- reverse

In [45]:
movies = []
movies.append("shawshank redemption")

In [32]:
for i in range (5):
    movies.append(input("Enter 5 movies"))
print(movies)

['shawshank redemption', 'avengers end game', 'shawshank redemption', '007', 'tokyo drift', 'money heist', 'the godfather']

In [37]:
for movie in movies:
    print(f"-->{i.upper()}")

-->R

In [39]:
movies

'r'

In [42]:
movies

['shawshank redemption']

# insert function

In [46]:
fruits = ['apple','banana','cherry']
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

# replace functions

In [48]:
fruits[2] = "mango"# replace function
print(fruits)

['apple', 'orange', 'mango', 'cherry']

# extend function

In [51]:
veg = ["potato","tomato"] #extends function
fruits.extend(veg)
print(fruits)

['apple', 'orange', 'mango', 'cherry', 'potato', 'tomato', 'potato', 'tomato']

# sort function

In [54]:
fruits.sort()
print(fruits)

['apple', 'cherry', 'mango', 'orange', 'potato', 'potato', 'tomato', 'tomato']

# reverse sort

In [56]:
fruits.sort(reverse=True)
print(fruits)

['tomato', 'tomato', 'potato', 'potato', 'orange', 'mango', 'cherry', 'apple']

In [58]:
fruits.remove("potato")
print(fruits)

['tomato', 'tomato', 'orange', 'mango', 'cherry', 'apple']

In [63]:
if 'tomato' in fruits:
    fruits.remove("tomato")
    print(fruits)

In [65]:
x = [1,23,43,43,34,43,34,43,34,434,5,6,7,82,23,45,9,0,]
x.reverse()
print(x)

[0, 9, 45, 23, 82, 7, 6, 5, 434, 34, 43, 34, 43, 34, 43, 43, 23, 1]

In [67]:
x.count(43)

4

In [68]:
list(reversed('hello'))

['o', 'l', 'l', 'e', 'h']

In [70]:
x = [1,2,3]
y = x # copy reference
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

In [71]:
z = x.copy()
z.append(100)
x.append(10)
print(x)
print(y)

[1, 2, 3, 10, 20, 10]
[1, 2, 3, 10, 20, 10]

In [72]:
x is y

True

In [73]:
z is y

False

In [74]:
z is x

False