In [1]:
list1 = ["vyom","aman","rahul","devansh","rishabh"]
print(type(list1))

<class 'list'>

In [2]:
list3 = ['ravi',1,2,3,4]

In [3]:
list4 = [[1,2,3],[3,4,5],["vyom","zaid sir"]]
print(type(list4))

<class 'list'>

In [4]:
print(list1.index("aman"))

1

In [5]:
print(list1.pop())

rishabh

In [6]:
x = [] # empty list
print(type(x))

<class 'list'>

In [7]:
y = [1]*10 #duplicated
print(y)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
z = [1,2,3] * 10
print(z)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
y = [1,2] + [2,3,4]
print(y)

[1, 2, 2, 3, 4]

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
ab = list(range(1,101))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
ab = list(range(2,101,2))
print(ab)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# string has 11 methods they are
- append
- deleting 
- insert
* deletion
- remove
- pop
- clear
* utility
- count
- index
- copy
- sort
- reverse

In [13]:
movies = []
movies.append("shawshank redemption")

In [14]:
for i in range (5):
    movies.append(input("Enter 5 movies"))
print(movies)

['shawshank redemption', "vv'", 'ds', 'sdf', 'ssd', 'sdf']

In [15]:
for movie in movies:
    print(f"-->{i.upper()}")

AttributeError: 'int' object has no attribute 'upper'

In [ ]:
movies

'r'

In [ ]:
movies

['shawshank redemption']

# insert function

In [ ]:
fruits = ['apple','banana','cherry']
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

# replace functions

In [ ]:
fruits[2] = "mango"# replace function
print(fruits)

['apple', 'orange', 'mango', 'cherry']

# extend function

In [ ]:
veg = ["potato","tomato"] #extends function
fruits.extend(veg)
print(fruits)

['apple', 'orange', 'mango', 'cherry', 'potato', 'tomato', 'potato', 'tomato']

# sort function

In [ ]:
fruits.sort()
print(fruits)

['apple', 'cherry', 'mango', 'orange', 'potato', 'potato', 'tomato', 'tomato']

# reverse sort

In [ ]:
fruits.sort(reverse=True)
print(fruits)

['tomato', 'tomato', 'potato', 'potato', 'orange', 'mango', 'cherry', 'apple']

In [ ]:
fruits.remove("potato")
print(fruits)

['tomato', 'tomato', 'orange', 'mango', 'cherry', 'apple']

In [ ]:
if 'tomato' in fruits:
    fruits.remove("tomato")
    print(fruits)

In [ ]:
x = [1,23,43,43,34,43,34,43,34,434,5,6,7,82,23,45,9,0,]
x.reverse()
print(x)

[0, 9, 45, 23, 82, 7, 6, 5, 434, 34, 43, 34, 43, 34, 43, 43, 23, 1]

In [ ]:
x.count(43)

4

In [ ]:
list(reversed('hello'))

['o', 'l', 'l', 'e', 'h']

In [ ]:
x = [1,2,3]
y = x # copy reference
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

In [ ]:
z = x.copy()
z.append(100)
x.append(10)
print(x)
print(y)

[1, 2, 3, 10, 20, 10]
[1, 2, 3, 10, 20, 10]

In [ ]:
x is y

True

In [ ]:
z is y

False

In [ ]:
z is x

False

In [ ]:
d2 = { "harry":"burger","vagisha":"noodles","shubhangi":"cake","vaishali":"soup","vatsal":{"shubham":"maggie",}}
print(d2["vagisha"])

noodles

In [ ]:
print(d2["shubhangi"])

cake

In [ ]:
print(d2["vatsal"]["shubham"])

maggie

In [ ]:
list1 = ("harry","larry","caryy","marrie")
for item in list1:
    print(item)

harry
larry
caryy
marrie

In [ ]:
list1 = [["vyom",131],["yash mohan",132],["vagisha",122],["vatsal",126]]
dict1 = dict(list1)
for item,roll in dict1.items(): #item function gets all the values in the dictionary
    print(item,roll)

vyom 131
yash mohan 132
vagisha 122
vatsal 126

In [ ]:
# ques make a list which ccan contain anything and if the value is number and num>6 then print that number

In [ ]:
list1 = ["vyom",131,"aditya",4,"sujal",116,"vatsal",126]
for item in list1:
    if str(list1).isnumeric() and item >6:
        print(item)

In [ ]:
a = {1,2,4,5}
b = {4,5,6}
#a.union(b)
print(type(a))

<class 'set'>

In [ ]:
a = int(input("Enter the number"))
if a>30:
    print("Enter less number")
    if a<20:
        print("Enter a bit less number")
elif a<7:
    print("Enter number greater than 10")
elif a>=15:
        print("Youre close enter number")
elif a>17:
            print("you are very close")
elif a == 18:
                print("you got the number right")

Youre close enter number

In [16]:
print(list1)

['vyom', 'aman', 'rahul', 'devansh']

In [34]:
for roll, data in reports.items():
    print("roll no.",roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):
            for sub,marks in val.items():
                print(sub,marks)
            else:
                print(key,val)
            print('--'*10)

roll no. 001

AttributeError: 'str' object has no attribute 'items'

In [35]:
reports = {
    '001': {
        'name':'Amar',
        'subjects': {'english':80,'maths':90,'science':80} 
    },
    '002':{
        'name':'Vijay',
        'subjects':{'english':70,'maths':80,'science':79}
    },
    '003':{
        'name':'Raj',
        'subjects':{'english':60,'maths':89,'science':89}
    },
}

In [36]:
for roll, data in reports.items():
    print("roll no.",roll)
    for key, val in data.items():
        print(key)
        if isinstance(val,dict):
            print(key)
            total = 0
            for sub,marks in val.items():
                print(sub,marks)
                total += marks
                print(f'Total:{total}/300')
                print(f'Prct:{total/300*100:.2f}%')
            else:
                print(key,val)
            print('--'*10)

roll no. 001
name
subjects
subjects
english 80
Total:80/300
Prct:26.67%
maths 90
Total:170/300
Prct:56.67%
science 80
Total:250/300
Prct:83.33%
subjects {'english': 80, 'maths': 90, 'science': 80}
--------------------
roll no. 002
name
subjects
subjects
english 70
Total:70/300
Prct:23.33%
maths 80
Total:150/300
Prct:50.00%
science 79
Total:229/300
Prct:76.33%
subjects {'english': 70, 'maths': 80, 'science': 79}
--------------------
roll no. 003
name
subjects
subjects
english 60
Total:60/300
Prct:20.00%
maths 89
Total:149/300
Prct:49.67%
science 89
Total:238/300
Prct:79.33%
subjects {'english': 60, 'maths': 89, 'science': 89}
--------------------

In [38]:
# file handling
f = open('example.py')
print(f.read())

name = input("Enter your name:")
print('welcome',name)
amount = input("how much tea will you take\n")
print("why would you want",amount,'tea?\n')
print("ok!sir i'll get back to you")

In [41]:
f = open(r'C:\Users\vyomy\OneDrive\Desktop\new 1.txt')
content = f.read()
print(f'{len(content)} characters')

233 characters

In [42]:
data = 'hi everyone,this is sample file'
with open('mydata.txt','w') as file:
    file.write(data)

In [43]:
data = '\nthis is the new data that is going to be written'"DA and HRA.py"
with open('mydata.txt','a') as file:
    file.write(data)

In [44]:
file = 'bio.txt'
content = ''
while True:
    line = input('Enter a line (or q to quit):')
    if line == 'q':
        break
    content += line + '\n'
with open(file,'w') as f:
    f.write(content)
    print(f'File {file} saved')

File bio.txt saved