In [33]:
a = 10
b = 20
print("the sum of both the numbers are:",a+b)

the sum of both the numbers are: 30

In [36]:
num1 = int(input("Enter the first number:\n"))
num2 = int(input("Enter the second number:\n"))
print("The sum of both the numbers are:\n",num1+num2)

The sum of both the numbers are:
 30

In [2]:
var1 = 56
var2 = 80

var3 = int(input())
if var3>var2:
    print("Greater")
else:
    print("Lesser")

Lesser

In [3]:
a = input("Enter your number")

In [1]:
a = 10
print(a,type(a))

10 <class 'int'>

In [2]:
print("welcome to digipodium")

welcome to digipodium

In [1]:
# operators

# operators

In [2]:
x = 10
y = 3

In [3]:
a = ['vyom','digipodium']
print(type(a))

<class 'list'>

In [4]:
x = 10
y = 20
x+y #addition

30

In [5]:
x = 10
y = 20
x*y #multiplication

200

In [6]:
x = 10
y = 5
x-y #subtraction

5

In [7]:
x = 10
y = 5
x/y #division

2.0

In [8]:
x = 10
y = 3
x%y #modulus

1

In [9]:
x = 10
y = 5
x**y #exponential

100000

In [1]:
x = 10
y = 5
x//y #integer division

2

In [14]:
x = 10
x+=5
print(x)

15

In [15]:
z = 10
x = 10
x+z

20

In [16]:
x>10
y<3

False

In [17]:
'apple'=='Apple'

False

In [20]:
x>5&x<100

True

In [22]:
x>5 or x<100

True

In [25]:
not x>100

True

In [26]:
x is y

False

In [27]:
x is not y #instance operators are used in data structures

True

In [30]:
#membership operators
a = ['1','2','3','4','5']
'2' in a #in is a membership operator in the list

True

# formated strings&msg

** formated string form
l = 10.5
b = 6.10
area = l*b
#print("length into breadth is=",area)
#print(l,b,area)
print("{}*{} = {}".format(l,b,area)) #this is called formated string

**another method for formated string

In [36]:
print(f' {l}*{b} = area')

 10.5*6.1 = area

In [39]:
print(f' {l}*{b} = {area}')

 10.5*6.1 = 64.05

In [41]:
print(f'{l}*{b}={area:.2f}')

10.5*6.1=64.05

In [3]:
if __name__ == '__main__':
    n = int(input().strip())
elif n%2!=0:
    print("Weird")
elif(2,5):
    n%2==0
    print("Not Weird")
elif(6,21):
    n%2==0
    print("Weird")
elif n>21:
    n%2==0
    print("Not Weird")

In [1]:
if 100>20:
    print('100 is greter than 10')

100 is greter than 10

In [2]:

if 5>10:
    print('5 is greater than 10')

In [8]:
a = 10
b = 20
if a<b:
    print('this is great')
    print(f'{a} is greater than {b}')

this is great
10 is greater than 20

In [12]:
data = input("enter a data:")
if data.isalpha():
    print("this is a string")
if data.isnumeric():
    print("this is a number")
if data.isspace():
    print("this is a space")

this is a number

In [3]:
temp = 22
if temp>25:
    print("it's hot")
else:
    print("its cool")

its cool

In [6]:
fruit = input("What fruit do you want")
if fruit== 'apple':
    print("An apple a day keeps doctor away")
elif fruit == 'mango':
    print("Mango is the king of fruit")
elif fruit == 'banana':
    print("banana contains pottasium")
elif fruit == 'orange':
    print("orange is good source of vitamin c")
else:
    print("not found in database")

not found in database

In [10]:
user = input("Enter your name")
password = input("Enter your password")
if user == 'sam':
    if password == '123':
      print("Welcome sam")
else: 
    print("Wrong credentials")

Wrong credentials

college notebook

In [4]:
basic_salary = float(input("Enter your basic salary:\n"))
if basic_salary <= 10000:
    hra = 0.1 * basic_salary
    da = 0.9 * basic_salary
    print(f' {hra} Your hra according to your basic salary is:\n')
    print(f' {da} Your da according to your basic salary is:\n')
    total_salary = (basic_salary + hra + da)
    print(total_salary)
elif basic_salary <=20000:
    hra = 0.2 * basic_salary
    da = 0.8 * basic_salary
    print(f' {hra} Your hra according to your basic salary is:\n')
    print(f'{da} Your da according to your basic salary is:\n')
    total_salary = (basic_salary + hra + da)
    print(total_salary)
elif basic_salary > 20000:
    hra = 0.25 * basic_salary
    da = 0.75 * basic_salary
    print(f'Your hra according to your basic salary is:\n')
    
    print(" Your basic da according to your basic salary is:\n",da)
    total_salary = print(basic_salary + hra + da)

 900.0 Your hra according to your basic salary is:

 8100.0 Your da according to your basic salary is:

18000.0

In [7]:
icecream = input("Enter the icream name->")
match(icecream):
    case "chocolate":
        print("price of chocolate is-> 200")
    case "vanila":
        print("price of vanilla is ->100")
    case "mango":
        print("price is -> 250")
    case _:
        print(" icecream Not available")

Not available

In [9]:
icecream = input("Enter icecream name")
if icecream == 'chocolate':
    print("The price of chocolate is -> 200")
elif icecream == 'vanilla':
    print("The price of vanilla is -> 120")
else:
    print("Icecream not available")

The price of vanilla is -> 120

In [1]:
n = int(input("Enter the number:"))

ValueError: invalid literal for int() with base 10: 'sad'

In [2]:
from turtle import *
color('red', 'yellow')
begin_fill()
while True:
    forward(200)
    left(170)
    if abs(pos()) < 1:
        break
end_fill()
done()

In [12]:
a = 10
b = 9
c = sum((a,b))
print(c)

19