In [1]:
my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [2]:
# nested 
my_tuple = ("mouse",[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [3]:
# tuple can also be creating without using paranthesis and it is called tuple packing
my_tuple = 3,4.6,"apple"
print(my_tuple)

(3, 4.6, 'apple')

In [6]:
my_tuple = ('p','e', 'r', 'm', 'i', 't')
print(my_tuple[0])
print(my_tuple[1])

p
e

In [7]:
my_tuple = ("mouse", [8,4,3], (1,2,3))
print(my_tuple[0][3])
print(my_tuple[1][1])

s
4

In [10]:
my_tuple = ('e','x','c','a','l','i','b')
print(my_tuple[0:6])

('e', 'x', 'c', 'a', 'l', 'i')

In [12]:
print(my_tuple[:-5])

('e', 'x')

In [13]:
print(my_tuple[4:])

('l', 'i', 'b')

In [14]:
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b')

In [15]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [21]:
print(("repeat",) * 3)

('repeat', 'repeat', 'repeat')

In [19]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# set

In [22]:
my_set = {1 , 2 , 4}
print(my_set)

{1, 2, 4}

In [23]:
my_set = {1,0,'oye',(1,2,3)}
print(my_set)

{0, 1, 'oye', (1, 2, 3)}

In [24]:
my_set = {1,2,4,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [28]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [30]:
#my_set = {1,2,[3,4]} # as set is immutable and list is not so if we try to insert list in set then it will show error

In [31]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
a = {1,2,3,4,5,6,7}
b = {1,2,3,8,9,0}
a.intersection(b)

{1, 2, 3}

In [35]:
print(a & b)

{1, 2, 3}

In [37]:
a = {1,2,3,4,5,6,7,8}
b = {1,2,3,4,0}
print(a - b)

{8, 5, 6, 7}

In [38]:
print(b - a)

{0}

In [39]:
a = {1,2,3,4,0,5,6,7,8,9}
b = {1,2,4}
print(a ^ b) # symmetric difference

{0, 3, 5, 6, 7, 8, 9}

In [46]:
a = {'motor','axel','fly by wire','lcd display'}
b = {'automatic transmission','auto pilot machine','airbag'}
print( a | b)
a.union(b)

{'fly by wire', 'airbag', 'axel', 'lcd display', 'auto pilot machine', 'automatic transmission', 'motor'}

{'airbag',
 'auto pilot machine',
 'automatic transmission',
 'axel',
 'fly by wire',
 'lcd display',
 'motor'}

In [45]:
print (a & b)
a.intersection(b)

set()

set()

In [44]:
print(a ^ b)
a.symmetric_difference(b)

{'airbag', 'axel', 'automatic transmission', 'motor', 'fly by wire', 'lcd display', 'autopilotmachine'}

{'airbag',
 'automatic transmission',
 'autopilotmachine',
 'axel',
 'fly by wire',
 'lcd display',
 'motor'}